// Base Colors
$PrimaryPeach: #faceb5;
$PinkPeach: #ffc4b2;
$Salmon: #ffb481;
$DarkPeach : #fa9a85;
$SnowBlue: #d8ebe6;
$PastelGreen: #64bfa4;
$LeafGreen: #00b694;

// Mixins
// Transform
@mixin transform($property) {
    -webkit-transform: $property;
        -ms-transform: $property;
         -o-transform: $property;
            transform: $property;
}

// Transition
@mixin transition($property) {
    -webkit-transition: $property;
        -ms-transition: $property;
         -o-transition: $property;
            transition: $property;
}

// All Selector

* {
    margin: 0;
    padding: 0;
}

// Base Styles

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p, span {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

li {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: black !important;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    background-color: $PastelGreen;
}

.btn:hover {
    background-color: $LeafGreen;
}



// Header Styles

nav {
    background-color: transparent;
    box-shadow: none;
    top: -64px;
    animation-delay: 2.8s;
    animation-duration: .5s;
    animation-name: slideDown;
    animation-fill-mode: forwards;
}
.brand-logo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.logo {
    width: 38%;
    margin-top: 2%;
}


// Main Styles

main {
    position: relative;
}

    // Hero Section

    .hero {
        position: relative;
        background-color: $PrimaryPeach;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            width: 50%;
            opacity: 0;
            animation-duration: 1.5s;
            animation-name: fadeIn;
            animation-fill-mode: forwards;
        }
        h3 {
            opacity: 0;
            animation-delay: 1.3s;
            animation-duration: 1.5s;
            animation-name: fadeIn;
            animation-fill-mode: forwards;
        }
        i {
            position: absolute;
            bottom: 4%;
            left: 50%;
            opacity: 0;
            animation-delay: 3s;
            animation-duration: 1s;
            animation-name: fadeIn;
            animation-fill-mode: forwards;
        }
    }

    .callOutRightSlant {
        width: 100vw;
        height: 60vh;
        display: flex;
        padding-top: 2%;
        background-color: white;

        .callOutLeft {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 40%;
            height: 100%;
            background-color: $PinkPeach;
            position: relative;
            h4 {
                z-index: 5;
                margin-bottom: 3%;
            }
            p {
                z-index: 5;
                text-align: center;
                width: 70%;
            }
            a {
                z-index: 5;
                margin-top: 3%;
            }
        }
        .callOutLeft::after {
            content: '';
            position: absolute;
            top: 0;
            left: 80%;
            width: 100%;
            height: 100%;
            background: $PinkPeach;
            -webkit-transform-origin: 100% 0;
            -ms-transform-origin: 100% 0;
            transform-origin: 100% 0;
            @include transform(skew(-45deg));
            z-index: 1;
        }
        .callOutRight {
            width: 60%;
            img {
                width: 100%;
                height: 96%;
                object-fit: cover;
                padding-top: 2%
            }
        }
    }

    .callOutLeftSlant {
        width: 100vw;
        height: 60vh;
        display: flex;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: white;
        .callOutLeft {
            width: 60%;
            img {
                width: 100%;
                height: 96%;
                object-fit: cover;
                padding-top: 2%;
            }
        }
        .callOutRight {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 40%;
            height: 100%;
            background-color: $PinkPeach;
            position: relative;
            h4 {
                z-index: 5;
                margin-bottom: 3%;
            }
            p {
                z-index: 5;
                text-align: center;
                width: 70%;
            }
            a {
                z-index: 5;
                margin-top: 3%;
            }
        }
        .callOutRight::before {
            content: '';
            position: absolute;
            top: 0;
            right: 75%;
            width: 100%;
            height: 100%;
            background: $PinkPeach;
            -webkit-transform-origin: 100% 0;
            -ms-transform-origin: 100% 0;
            transform-origin: 100% 0;
            @include transform(skew(45deg));

            z-index: 1;
        }
    }


    // Editors Section
    #editors {
        width: 100vw;
        min-height: 100vh;
        padding-bottom: 5%;
        background-color: $SnowBlue;
        transition: all .3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3 {
            text-align: center;
            padding-top: 1%;
        }
        .editorList {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
            padding-top: 2%;
            width: 80%;
            margin: auto 0;
            .editor {
                width: 33%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-bottom: 3%;
                // img {
                //     width: 50%;
                //     border-radius: 100%;
                //     cursor: pointer;
                //     position: relative;
                // }
                .singleEditor {
                    width: 350px;
                    height: 350px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    @include transition(background-color 0.3s ease);
                    .editorContent {
                        width: 70%;
                        height: 50%;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        position: relative;
                        h6 {
                            font-size: 1.8rem;
                            font-weight: bold;
                        }
                        p {
                            font-size: 1.4rem;
                            width: 80%;
                            text-align: center;
                        }
                    }
                    .editorContent::before {
                        content: '';
                        position: absolute;
                        border-radius: 100% 0 0 0;
                        top: 0;
                        left: 0;
                        width: 50%;
                        height: 50%;
                        border-top: 1px solid black;
                        border-left: 1px solid black;
                    }
                    .editorContent::after {
                        content: '';
                        position: absolute;
                        border-radius: 0 0 100% 0;
                        bottom: 0;
                        right: 0;
                        width: 50%;
                        height: 50%;
                        border-bottom: 1px solid black;
                        border-right: 1px solid black;
                    }
                    .editorContent:hover::before, .editorContent:hover::after {
                        animation-duration: 1s;
                        animation-name: grow;
                        animation-iteration-count: infinite;
                    }
                }
                .singleEditor:hover {
                    background-image: none !important;
                    background-color: $LeafGreen;
                }
                .singleEditor:hover .editorContent {
                    display: flex;
                }
            }
        }
        .inspectedEditor {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-top: 10%;
            img {
                width: 20%;
                border-radius: 100%;
                margin-right: 5%;
            }
            .editorInfo {
                width: 50%;
                height: 80%;
                h3 {
                    text-align: left;
                    padding-bottom: 3%;
                }
                div {
                    height: 15%;
                    h6 {
                        padding-bottom: 3%;
                    }
                    a {
                        padding-bottom: 3%;
                    }
                }
                p {
                    padding-bottom: 3%;
                }
            }
        }
        a {
            padding-left: 2%;
            padding-right: 2%;
        }
    }


    // Testimonials Section
    #testimonials {
        width: 100vw;
        height: 100vh;
        background-color: $PrimaryPeach;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        padding-top: 5%;
        padding-bottom: 5%;
    .span-col-2{
        grid-column: span 2/ auto;
    }
    .span-row-2 {
        grid-row: span 2/ auto;
    }
    .picture-left {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        img {
            border-radius: 100%;
        }
    }
    .picture-right {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img {
            border-radius: 100%;
        }
        padding-top: 5%;
    }
    .text-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 50%;
        margin-top: 9%;
        border-left: 5px solid $LeafGreen;
    }
    .text-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        border-right: 5px solid $LeafGreen;
        border-left: none !important;
        height: 50%;
        padding-right: 3%;
    }
}

// Client Section
#clients {
    width: 100vw;
    min-height: 80vh;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    .clientList {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        position: relative;
        padding: 5%;
    }
    .clientList::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 50%;
        top: 0;
        left: 0;
        border-top: 3px double gray;
        border-left: 3px double gray;
    }
    .clientList::after {
        content: '';
        position: absolute;
        width: 50%;
        height: 50%;
        bottom: 0;
        right: 0;
        border-bottom: 3px double gray;
        border-right: 3px double gray;
    }
    .client {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        background-size: cover;
        .clientInfo {
            width: 100%;
            height: 100%;
            display: none;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            h6 {
                font-weight: bold;
                font-size: 1.4rem;
            }
        }
    }
    .client:hover .clientInfo {
        display: flex;
        background-color: $PrimaryPeach;
    }
}


// Contact Section
#contact {
    background-color: $PrimaryPeach;
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
    h3 {
        margin-bottom: 3%;
    }
    label {
        font-size: 1.5rem;
    }
    form {
        height: 80%;
        .textarea {
            height: 50%;
        }
        button {
            margin-top: 5%;
        }
    }
}

textarea {
    height: 100%;
}

// Footer Styles

footer {
    height: 30vh;
    background-color: black;
}

// Media Queries

@media only screen and (max-width: 1760px) {
    .callOutRightSlant {
        .callOutLeft::after {
            left: 90%;
        }
    }
    .callOutLeftSlant {
        .callOutRight::before {
            right: 100%;
        }
    }
}

// MacBook 13Inch
@media only screen and (max-width: 1440px) {
    .callOutRightSlant {
        .callOutLeft::after {
            width: 130%;
            left: 80%;
        }
    }
    .callOutLeftSlant {
        .callOutRight::before {
            right: 100%;
        }
    }

    #editors {
        .editorList {
            .editor {
                .singleEditor {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .callOutRightSlant {
        .callOutLeft::after {
            left: 100%;
        }
    }
    .callOutLeftSlant {
        .callOutRight::before {
            width: 130%;
            right: 100%;
        }
    }
}

@media only screen and (max-width: 1025px) {
    .hero {
        img {
            width: 70%;
        }
    }
    .callOutRightSlant {
        padding-top: 0;
        flex-direction: column;
        .callOutRight {
            width: 100%;
            height: 50%;
            padding-top: 0;
            img {
                height: 100%;
                padding-top: 0;
            }
        }
        .callOutLeft {
            width: 100%;
            height: 50%;
            
        }
    }
    .callOutLeftSlant {
        flex-directioN: column-reverse;
        padding-top: 0;
        padding-bottom: 0;
        .callOutRight {
            width: 100%;
            height: 50%;
            
        }
        .callOutLeft {
            width: 100%;
            height: 50%;
            padding-top: 0;
            img {
                height: 100%;
                padding-top: 0;
            }
        }
    }
    
    .callOutRight::before {
        display: none;
    }
    .callOutLeft::after {
        display: none;
    }

    #editors {
        min-height: 80vh;
        h3 {
            padding-top: 3%;
        }
        .editorList {
            margin-top: 3%;
        }
    }
}


@media only screen and (max-width: 768px) {
    .hero {
        h3 {
            font-size: 2.3rem;
        }
    }

    #editors {
        min-height: 60vh;
        .editorList {
            .editor {
                .singleEditor {
                    width: 125px;
                    height: 125px;
                }
            }
        }
    }
}

@media only screen and (max-width: 415px) {
    .hero {
        h3 {
            font-size: 1rem;
        }
    }
    .callOutRightSlant {
        .callOutLeft {
            width: 100%;
            height: 50%;
            h4 {
                font-size: 1.5rem;
            }
            p {
                font-size: .6rem;
            }
        }
    }
    .callOutLeftSlant {
        .callOutRight {
            width: 100%;
            height: 50%;
            h4 {
                font-size: 1.5rem;
            }
            p {
                font-size: .6rem;
            }
        }
    }

    #editors {
        .editorList {
            .editor {
                width: 40%;
            }
        }
    }
}

//  Keyframes

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        top: -64px;
    }
    5% {
        top: -60.9px;
    }
    10% {
        top: -57.6px;
    }
    15% {
        top: -54.4px;
    }
    20% {
        top: -51.2px;
    }
    25% {
        top: -48.1px;
    }
    30% {
        top: -44.8px;
    }
    35% {
        top: -41.6px;
    }
    40% {
        top: -38.4px;
    }
    45% {
        top: -35.2px;
    }
    50% {
        top: -32px;
    }
    55% {
        top: -28.8px;
    }
    60% {
        top: -25.6px;
    }
    65% {
        top: -22.4px;
    }
    70% {
        top: -19.2px;
    }
    75% {
        top: -16px;
    }
    80% {
        top: -12.8px;
    }
    85% {
        top: -9.6px;
    }
    90% {
        top: -6.4px;
    }
    95% {
        top: -3.2px;
    }
    100% {
        top: 0px;
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.1);
    }
    25% {
        transform: scale(1.2);
    }
    35% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1.3);
    }
    65% {
        transform: scale(1.25);
    }
    75% {
        transform: scale(1.2);
    }
    85% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
    
}

// Animations

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}