@import 'imports/colors';

// Mixins

// Transform
@mixin transform($property) {
    -webkit-transform: $property;
        -ms-transform: $property;
         -o-transform: $property;
            transform: $property;
}

// Transition
@mixin transition($property) {
    -webkit-transition: $property;
        -ms-transition: $property;
         -o-transition: $property;
            transition: $property;
}

// All Selector

* {
    margin: 0;
    padding: 0;
}

// Base Styles

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p, span {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

li {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

nav ul a {
    color: black;
}

a {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    background-color: $PastelGreen;
}

.btn:hover {
    background-color: $LeafGreen;
}

main {
    position: relative;
}

// Imports
@import 'imports/header';
@import 'imports/hero';
@import 'imports/callOuts';
@import 'imports/editors';
@import 'imports/testimonials';
@import 'imports/clients';
@import 'imports/contact';
@import 'imports/footer';
@import 'imports/mediaQueries';
@import 'imports/keyframes';

// Animations

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}