@import 'imports/colors';
@import 'mixins';
// Client Section
#clients {
    width: 100vw;
    min-height: 40vh;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: $PrimaryPeach;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    .clientList {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
        padding: 5%;
        width: 80%;
        .client {
            font-size: 28px;
            font-weight: bold;
            font-style: italic;
            color: black;
            opacity: .50;
            @include transition(transform 1s linear);
            width: 20%;
            text-align: center;
        }
        .client:hover {
            opacity: 1;
            transform: scale(1.05);
        }
        
    }
}