@import 'imports/colors';
// Contact Section
#contact {
    background-color: $PrimaryPeach;
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
    h3 {
        margin-bottom: 3%;
    }
    label {
        font-size: 1.5rem;
    }
    form {
        height: 80%;
        .textarea {
            height: 50%;
        }
        button {
            margin-top: 5%;
            width: 20%;
        }
    }
}

textarea {
    height: 100%;
}
