@import 'imports/colors';

// Media Queries

@media only screen and (max-width: 1760px) {
    .callOutRightSlant {
        .callOutLeft::after {
            left: 90%;
        }
    }
    .callOutLeftSlant {
        .callOutRight::before {
            right: 100%;
        }
    }
}

// MacBook 13Inch
@media only screen and (max-width: 1440px) {
    .callOutRightSlant {
        .callOutLeft::after {
            width: 130%;
            left: 80%;
        }
    }
    .callOutLeftSlant {
        .callOutRight::before {
            right: 100%;
        }
    }

    #editors {
        .editorList {
            .editor {
                .singleEditor {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .callOutRightSlant {
        .callOutLeft::after {
            left: 100%;
        }
    }
    .callOutLeftSlant {
        .callOutRight::before {
            width: 130%;
            right: 100%;
        }
    }
}

@media only screen and (max-width: 1025px) {
    .hero {
        h3 {
            font-size: 1rem;
        }
        img {
            width: 70%;
        }
    }
    .callOutRightSlant {
        padding-top: 0;
        flex-direction: column;
        .callOutRight {
            width: 100%;
            height: 50%;
            padding-top: 0;
            img {
                height: 100%;
                padding-top: 0;
            }
        }
        .callOutLeft {
            width: 100%;
            height: 50%;
            
        }
    }
    .callOutLeftSlant {
        flex-directioN: column-reverse;
        padding-top: 0;
        padding-bottom: 0;
        .callOutRight {
            width: 100%;
            height: 50%;
            
        }
        .callOutLeft {
            width: 100%;
            height: 50%;
            padding-top: 0;
            img {
                height: 100%;
                padding-top: 0;
            }
        }
    }
    
    .callOutRight::before {
        display: none;
    }
    .callOutLeft::after {
        display: none;
    }

    #editors {
        min-height: 80vh;
        h3 {
            padding-top: 3%;
        }
        .editorList {
            margin-top: 3%;
            .editor {
                .singleEditor {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
    #testimonials {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        .picture-right,
        .picture-left,
        .text-right,
        .text-left {
            width: 100%;
            height: 13%;
            img {
                width: 25%;
            }
        }
        .text-right,
        .text-left {
            border: none;
            text-align: center;
            margin-top: 3%;
            width: 80%;
            height: 100%;
        }
    }
}


@media only screen and (max-width: 768px) {
    header {
        nav {
            height: 64px;
        }
    }
    .hero {
        h3 {
            font-size: 2.3rem;
        }
    }

    #editors {
        min-height: 60vh;
        .editorList {
            .editor {
                .singleEditor {
                    width: 125px;
                    height: 125px;
                }
            }
        }
        .inspectedEditor {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                    width: 50%;
                    margin-top: 2%;
                }
                .editorInfo {
                    padding-top: 5%;
                    padding-bottom: 3%;
                    width: 95%;
                }
        }
    }
    #contact {
        h3 {
            font-size: 2rem;
        }
        form {
            button {
                margin-top: 11%;
            }
        }
    }
}

@media only screen and (max-width: 475px) {
    .hero {
        h3 {
            font-size: .8rem;
            width: 70%;
            line-height: 1.5;
            text-align: center;
        }
    }
    .callOutRightSlant {
        .callOutLeft {
            width: 100%;
            height: 50%;
            h4 {
                font-size: 1.5rem;
            }
            p {
                font-size: .6rem;
            }
        }
    }
    .callOutLeftSlant {
        .callOutRight {
            width: 100%;
            height: 50%;
            h4 {
                font-size: 1.5rem;
            }
            p {
                font-size: .6rem;
            }
        }
    }

    #editors {
        h3 {
            font-size: 2rem;
        }
        .editorList {
            .editor {
                width: 40%;
                .singleEditor {
                    .editorContent {
                        h6 {
                            font-size: 1rem;
                        }
                        p {
                            font-size: .7rem;
                        }
                    }
                    .editorContent::before, .editorContent::after {
                        width: 0;
                        height: 0;
                    }
                }
            }
        }
        
    }
    #testimonials {
        blockquote {
            font-size: 1rem;
        }
    }
    #clients {
        h3 {
            font-size: 2rem;
        }
        .clientList {
            .client {
                width: 125px;
                height: 125px;
            }
        }
    }
    #contact {
        padding-top: 3%;
        padding-bottom: 3%;
    }
}
