
// Mixins

// Transform
@mixin transform($property) {
    -webkit-transform: $property;
        -ms-transform: $property;
         -o-transform: $property;
            transform: $property;
}

// Transition
@mixin transition($property) {
    -webkit-transition: $property;
        -ms-transition: $property;
         -o-transition: $property;
            transition: $property;
}