@import 'imports/colors';

// Testimonials Section
#testimonials {
    width: 100vw;
    min-height: 75vh;
    background: #d8ebe6; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #d8ebe6 0%, #64bfa4 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #d8ebe6 0%,#64bfa4 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #d8ebe6 0%,#64bfa4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8ebe6', endColorstr='#64bfa4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
.span-col-2{
    grid-column: span 2/ auto;
}
.span-row-2 {
    grid-row: span 2/ auto;
}
.picture-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img {
        border-radius: 100%;
        width: 40%;
    }
}
.picture-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    img {
        border-radius: 100%;
        width: 40%;
    }
    padding-top: 5%;
}
.text-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50%;
    border-left: 5px solid $LeafGreen;
}
.text-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    border-right: 5px solid $LeafGreen;
    border-left: none !important;
    height: 50%;
    padding-right: 3%;
}
h3 {
    position: absolute;
    top: 5%;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
}